name: Build Citron (Nightly)
concurrency:
  group: build-nightly-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 7 1/3 * *"
  workflow_dispatch: {}

jobs:
  build:
    name: "${{ matrix.name }} (${{ matrix.arch }})"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
          - runs-on: ubuntu-latest
            optimized: false
            name: "Citron build (Normal)"
            arch: x86_64
          - runs-on: ubuntu-latest
            optimized: true
            name: "Citron Build (Optimized)"
            arch: x86_64
          - runs-on: ubuntu-24.04-arm
            name: "Citron Build (Normal)"
            optimized: false
            arch: aarch64
    container: ghcr.io/pkgforge-dev/archlinux:latest
    steps:
      - uses: actions/checkout@v4

      - name: Compile Citron (Normal)
        if: ${{ matrix.optimized == false }}
        run: chmod +x ./get-dependencies.sh && DEVEL=true ./get-dependencies.sh

      - name: Compile Citron (Optimized)
        if: ${{ matrix.optimized == true }}
        run: chmod +x ./get-dependencies.sh && DEVEL=true ./get-dependencies.sh v3

      - name: Make AppImage (Normal)
        if: ${{ matrix.optimized == false }}
        run: chmod +x ./citron-appimage.sh && DEVEL=true ./citron-appimage.sh

      - name: Make AppImage (Optimized)
        if: ${{ matrix.optimized == true }}
        run: chmod +x ./citron-appimage.sh && DEVEL=true ./citron-appimage.sh v3

      - name: Upload artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: AppImage-${{ matrix.optimized && 'optimized' || 'normal' }}-${{ matrix.arch }}
          path: "dist"

  release:
    if: ${{ github.ref_name == 'main' }}
    name: "release"
    needs: [build]
    permissions:
      actions: read
      security-events: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4.3.0
        with:
          pattern: AppImage-*
          merge-multiple: true

      - name: Read version and Get date
        run: |
          cat ./version
          echo "VERSION=$(cat ./version)" >> "${GITHUB_ENV}"
          echo "DATE=$(date +'%Y-%m-%d_%s')" >> "${GITHUB_ENV}"

      - name: Del Previous Release
        run: gh release delete "nightly" --repo "${GITHUB_REPOSITORY}" --cleanup-tag -y && sleep 5
        env:
          GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        continue-on-error: true

      - uses: softprops/action-gh-release@v2.2.2
        with:
          name: "Continuous Build (Nightly Version: ${{ env.VERSION }})"
          tag_name: "nightly"
          prerelease: true
          draft: false
          generate_release_notes: false
          make_latest: false
          files: |
            *.AppImage*
